name: CI

on:
  push:

jobs:
  check:
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        go-version: ["1.23", "1.24", "1.25rc2"]
      fail-fast: false
    env:
      FORCE_COLOR: 1
    steps:
      - uses: earthly/actions-setup@v1
        with:
          version: 0.8.16
          use-cache: true
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Go ${{ matrix.go-version }}
        run: echo "golang_version=${{ matrix.go-version }}" > .arg
      - name: Generate cldr.go
        if: ${{ matrix.go-version == '1.24' }}
        run: |
          earthly --strict +generate
          if ! git diff --quiet internal/cldr/data.go; then
            echo "Generated cldr.go file is not up to date"
            git diff
            exit 1
          fi
      - name: Lint
        if: ${{ matrix.go-version == '1.24' }}
        run: earthly --ci +lint
      - name: Test Unit
        run: earthly --ci +test
